.input {
  border-color: #ddd;
}

.input:focus {
  border-color: #aaa;
  outline: none;
}

.alert {
  color: #ef3042;
  border-color: #f5c6cb;
  border: 1px solid transparent;
  border-radius: .25rem;
}

button:disabled {
  background-color: gray !important;
  cursor: not-allowed;
}
